<p class="font-semibold my-8">Partners &amp; Awards</p>
<div class="flex flex-wrap items-center justify-between">

  <div class="w-1/2 sm:w-1/5 md:w-1/2 pr-6 pb-8">
    {% if color == 'white' %}
      <img
        src="{{ theme.link }}/static/images/logos/showpad-logo-white.png"
        alt="Showpad"
        class="inline-block w-24"
      >
    {% else %}
      <img
        src="{{ theme.link }}/static/images/logos/showpad-logo-black.png"
        alt="Showpad"
        class="inline-block w-24"
      >
    {% endif %}
  </div>

{# <div class="w-1/2 sm:w-1/5 md:w-1/2  pr-6 pb-8">
  {% if color == 'white' %}
    <img
      src="{{ theme.link }}/static/images/logos/intuiface-logo-white.png"
      alt="Intuiface"
      class="inline-block w-32"
    >
  {% else %}
    <img
      src="{{ theme.link }}/static/images/logos/intuiface-logo-black.png"
      alt="Intuiface"
      class="inline-block w-32"
    >
  {% endif %}
</div> #}

{# <div class="w-1/2 sm:w-1/5 md:w-1/2 pr-6 pb-8">
  {% if color == 'white' %}
    <img
      src="{{ theme.link }}/static/images/logos/bristol-creative-industries-logo-white.png"
      alt="Intuiface"
      class="inline-block w-28"
    >
  {% else %}
    <img
      src="{{ theme.link }}/static/images/logos/bristol-creative-industries-logo-black.png"
      alt="Intuiface"
      class="inline-block w-28"
    >
  {% endif %}
</div> #}

<div class="w-1/2 sm:w-1/5 md:w-1/2 pr-6 pb-8">
  {% if color == 'white' %}
  <img
    src="{{ theme.link }}/static/images/logos/cyber-essentials-logo-white.png"
    alt="Showpad"
    class="inline-block w-20"
  >
    {% else %}
  <img
    src="{{ theme.link }}/static/images/logos/cyber-essentials-logo-black.png"
    alt="Showpad"
    class="inline-block w-20"
  >
    {% endif %}
</div>

<div class="w-1/2 sm:w-1/5 md:w-full pr-6 pb-8">
  <img
    src="{{ theme.link }}/static/images/logos/20.-CMA-2021-Logos-2_Best-Application-of-Marketing-Technology.png"
    alt="CMA Winner 2021"
    class="inline-block"
    style="filter: grayscale(1);"
  >
</div>
