<p class="font-semibold my-8">Partners</p>
<div class="flex flex-wrap items-center justify-between">
<div class="w-1/2 sm:w-1/4 md:w-1/2 pr-6 pb-8">
  {% if color == 'white' %}
    <img
      src="{{ theme.link }}/static/images/logos/showpad-logo-white.png"
      alt="Showpad"
      class="inline-block w-28"
    >
  {% else %}
    <img
      src="{{ theme.link }}/static/images/logos/showpad-logo-dark.png"
      alt="Showpad"
      class="inline-block w-28"
    >
  {% endif %}
</div>
<div class="w-1/2 sm:w-1/4 md:w-1/2  pr-6 pb-8">
  {% if color == 'white' %}
    <img
      src="{{ theme.link }}/static/images/logos/intuiface-logo-white.png"
      alt="Intuiface"
      class="inline-block w-32"
    >
  {% else %}
    <img
      src="{{ theme.link }}/static/images/logos/intuiface-logo-dark.png"
      alt="Intuiface"
      class="inline-block w-32"
    >
  {% endif %}
</div>
<div class="w-1/2 sm:w-1/4 md:w-1/2 pr-6 pb-8">
  {% if color == 'white' %}
    <img
      src="{{ theme.link }}/static/images/logos/bristol-creative-industries-logo-white.png"
      alt="Intuiface"
      class="inline-block w-28"
    >
  {% else %}
    <img
      src="{{ theme.link }}/static/images/logos/bristol-creative-industries-logo-dark.png"
      alt="Intuiface"
      class="inline-block w-28"
    >
  {% endif %}
</div>
<div class="w-1/2 sm:w-1/4 md:w-1/2 pr-6 pb-8">
  {% if color == 'white' %}
  <img
    src="{{ theme.link }}/static/images/logos/cyber-essentials-logo-white.png"
    alt="Showpad"
    class="inline-block w-20"
  >
    {% else %}
  <img
    src="{{ theme.link }}/static/images/logos/cyber-essentials-logo-dark.png"
    alt="Showpad"
    class="inline-block w-20"
  >
    {% endif %}
</div>
