{% extends 'partial/sections/generic/wrapper.twig' %}

{% block content %}
  
  <div class="m-image-copy">
    
    <div class="m-image-copy__content">
      
      <div class="container-wide">
      
        {% if fields.heading_primary %}
          <{{ fields.heading_primary_tag }} class="m-image-copy__title">{{ fields.heading_primary }}</{{ fields.heading_primary_tag }}>
        {% endif %}
        
        {% if fields.heading_secondary %}
          <{{ fields.heading_secondary_tag }} class="m-image-copy__subtitle alpha">{{ fields.heading_secondary }}</{{ fields.heading_secondary_tag }}>
        {% endif %}
        
        <div class="m-grid m-grid--vertical-center m-grid--large">
          <div class="m-grid__inner">
            
            {% if fields.copy or fields.button %}
            
              <div class="m-grid__col m-grid__col--6-wide">
                <div class="m-grid__col__inner">
                  
                  {% if fields.copy %}
                    <div class="m-cms m-cms--small m-image-copy__copy">
                      {{ fields.copy }}
                    </div>
                  {% endif %}
                  
                  
                  {% if fields.button %}
                    <p class="m-image-copy__button">
                      {%
                        include 'partial/generic-button.twig' with {
                          button: fields.button,
                          class: fields.button_class ? fields.button_class : ''
                        }
                      %}
                    </p>
                  {% endif %}
                </div>
              </div>
              
            {% endif %}
            
            {% if fields.image %}
            
              <div class="m-grid__col m-grid__col--6-wide">
                <div class="m-grid__col__inner">
                  
                  {%
                    include 'partial/image.twig' with {
                      image: fields.image,
                      size: 'large'
                    }
                  %}
                  
                </div>
              </div>
              
            {% endif %}
            
          </div>
        </div>
        
      </div>
      
    </div>
    
  </div>

{% endblock %}