{% if is_preview %}
  <p><strong>Features</strong> - I will only appear in the editor.</p>
{% endif %}


{% if not is_preview %}

{% if fields.block_color == 'white' %}
  {% set theme = 'light' %}
{% elseif fields.block_color == 'black' %}
  {% set theme = 'dark' %}
{% endif %}

 <div class="container-wide" >
    <div class="md:border-16 md:{{ theme == 'dark' ? 'border-pop-black' : 'border-pop-white'}} {{ theme == 'dark' ? 'bg-pop-black' : 'bg-pop-white'}} md:shadow-md md:box-content">
      {% include "/templates/partial/component-title.twig" with 
        {
          'title': fields.title,
          'subtitle': fields.subtitle,
          'theme_text_color': theme_text_color,
          'title_color': fields.title_color,
          'pattern': fields.pattern.type,
          'pattern_color': fields.pattern.color,
          'pattern_opacity': fields.pattern.opacity
        }
      %}
      <div class="relative grid gap-0.5 grid-cols-2 grid-rows-2 sm:grid-cols-2 sm:grid-rows-2 border-2 {{ theme == "dark" ? 'border-pop-black-dark' : 'border-pop-gray' }} {{ theme == 'dark' ? 'bg-pop-black' : 'bg-pop-gray'}}">
        {% for item in fields.features %}
          <div class="relative p-7 text-pop-black {{ theme == 'dark' ? 'bg-pop-black' : 'bg-pop-white'}} ">
            <div class="font-bold mb-4">{{ item.feature }}</div>
            <div>{{ item.description }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endif %}