{% if is_preview %}
  <p><strong>Logos</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-wide" >
    <div class="md:border-16 md:{{ theme == 'dark' ? 'border-pop-black' : 'border-pop-white'}} {{ theme_bg_color }} md:shadow-md md:box-content">
      {% include "/templates/partial/component-title.twig" with 
        {
          'title': fields.title,
          'subtitle': fields.subtitle,
          'theme_text_color': theme_text_color,
          'title_color': fields.title_color,
          'pattern': fields.pattern.type,
          'pattern_color': fields.pattern.color,
          'pattern_opacity': fields.pattern.opacity
        }
      %}
      <div class="relative grid  grid-cols-4 gap-y-0 gap-x-3 items-center justify-start {{ theme == 'dark' ? 'bg-pop-black' : 'bg-pop-white'}}">
        <!-- grid grid-flow-col grid-cols-4 gap-0.5 -->
        {% for item in fields.logos %}
          <div class="{{ theme == 'dark' ? 'logos-light' : 'logos-dark'}} p-2 md:p-4 lg:p-6 h-full w-full flex justify-center items-center">
            {% if item.url %}
              <a class="" href="{{ item.url }}">
            {% endif %}
                <img class="w-full object-contain" src="{{ item.logo }}" alt="">
            {% if item.url %}
              </a>
            {% endif %}
          </div>
          
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}