{#
/**
 * Block Name: Example block
 *
 * This is the template that displays the example block.
 */
#}

{% if is_preview %}
  <p><strong>Page Hero</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}

<div class="page-hero relative h-screen overflow-hidden flex justify-center" >
  <div class="absolute top-0 left-0 w-full h-full bg-center bg-cover no-repeat pb-12 px-12 pt-12" style="background-image: url({{ fields.background_image.url }});">
    <!-- {{ fields.overlay_end }} -->
    <div class="absolute top-0 left-0 w-full h-full opacity-{{ fields.overlay_opacity }} bg-{{fields.overlay_color }}"></div>
    <!-- <div class="absolute top-0 left-0 w-full h-full" style="background: radial-gradient(50% 50% at 50% 50%, transparent {{ fields.overlay_start }}%, {{ fields.overlay_color }} {{ fields.overlay_end }}%"></div> -->
  </div>
  
  <div class="container-narrow relative h-full flex justify-center items-center">
      <div class="hero-title text-pop-{{fields.text_color}}">{{ fields.title }}</div>
      {% if fields.show_link %}
        <div class="absolute bottom-0 left-0">
          
          {% if fields.link.link.url != null %}
            <a href="{{ fields.link.link.url }}">
              <div class="link flex cursor-pointer">
                {% if fields.link.link.text %}
                  <div class="flex lowercase items-center px-8 py-2 {{ fields.link.link.background_color == 'black' ? 'bg-pop-black' : 'bg-pop-white' }}">
                    <p class="link__text text-pop-white m-0 transform group-hover:text-xl {{ fields.link.link.background_color == 'black' ? 'text-pop-white' : 'text-pop-black' }}">
                      {{ fields.link.link.text }}
                    </p>
                  </div>
                {% endif %}
                <div class="w-12 h-12 p-3 bg-pop-{{ fields.link.link.accent_color }}">
                  <svg class="transform rotate-{{ fields.link.link.angle }}" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-current text-pop-{{ fields.link.link.arrow_color }}" d="M13.0607 0.625645C12.4749 0.0398579 11.5251 0.0398579 10.9393 0.625645L1.3934 10.1716C0.807611 10.7574 0.807611 11.7071 1.3934 12.2929C1.97919 12.8787 2.92893 12.8787 3.51472 12.2929L12 3.80762L20.4853 12.2929C21.0711 12.8787 22.0208 12.8787 22.6066 12.2929C23.1924 11.7071 23.1924 10.7574 22.6066 10.1716L13.0607 0.625645ZM13.5 24.3137V1.6863H10.5V24.3137H13.5Z" fill="#3A3EAB"/>
                  </svg>
                </div>
              </div>
            </a>
          {% endif %}
      
          {% if fields.link.link.url == null %}
            <div class="scroll-button link flex cursor-pointer">
              {% if fields.link.link.text %}
                <div class="flex lowercase items-center px-8 py-2 {{ fields.link.link.background_color == 'black' ? 'bg-pop-black' : 'bg-pop-white' }}">
                  <p class="link__text text-pop-white m-0 transform group-hover:text-xl {{ fields.link.link.background_color == 'black' ? 'text-pop-white' : 'text-pop-black' }}">
                    {{ fields.link.link.text }}
                  </p>
                </div>
              {% endif %}
              <div class="w-12 h-12 p-3 bg-pop-{{ fields.link.link.accent_color }}">
                <svg class="transform rotate-{{ fields.link.link.angle }}" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="fill-current text-pop-{{ fields.link.link.arrow_color }}" d="M13.0607 0.625645C12.4749 0.0398579 11.5251 0.0398579 10.9393 0.625645L1.3934 10.1716C0.807611 10.7574 0.807611 11.7071 1.3934 12.2929C1.97919 12.8787 2.92893 12.8787 3.51472 12.2929L12 3.80762L20.4853 12.2929C21.0711 12.8787 22.0208 12.8787 22.6066 12.2929C23.1924 11.7071 23.1924 10.7574 22.6066 10.1716L13.0607 0.625645ZM13.5 24.3137V1.6863H10.5V24.3137H13.5Z" fill="#3A3EAB"/>
                </svg>
              </div>
            </div>
          {% endif %}
          
        </div>

      {% endif %}
  </div>
</div>

{% endif %}

