{#
/**
 * Block Name: Example block
 *
 * This is the template that displays the example block.
 */
#}

{% if is_preview %}
  <p><strong>Page Hero</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}

<div class="page-hero relative h-screen overflow-hidden flex justify-center" >
  <div class="absolute top-0 left-0 w-full h-full bg-center bg-cover no-repeat pb-12 px-12 pt-12" style="background-image: url({{ fields.background_image.url }});">
    {{ fields.overlay_end }}
    <div class="absolute top-0 left-0 w-full h-full" style="background: radial-gradient(50% 50% at 50% 50%, transparent {{ fields.overlay_start }}%, {{ fields.overlay_color }} {{ fields.overlay_end }}%"></div>
  </div>
  
  <div class="container-narrow relative h-full flex justify-center items-center">
      <div class="hero-title text-pop-{{fields.text_color}}">{{ fields.title }}</div>
      {% if fields.show_link %}
        <div class="absolute bottom-0 left-0">
          {% include "/templates/partial/link.twig" with 
            {
              'link': fields.link.link,
            }
          %}
        </div>
      {% endif %}
  </div>
</div>

{% endif %}

