{% if is_preview %}
  <p><strong>Portfolio</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-wide" >
    <div class="md:border-16 md:{{ theme == 'dark' ? 'border-pop-black' : 'border-pop-white'}} {{ theme_bg_color }} md:shadow-md md:box-content">
      <div class="relative px-8 py-12 pattern strip-blue {{ theme_text_color }}">
        <h4>{{ fields.title }}</h4>
      </div>

      <div class="grid gap-0.5 grid-cols-1 sm:grid-cols-2 sm:grid-rows-4 relative border-2 {{ theme_border_color }} bg-pop-gray">
        {% for item in fields.content %}
          {% set width = 'col-span-1' %}
          {% set height = 'row-span-1' %}
          {% set ratio = 'auto' %}
          
          {% if loop.index == 3 %}
            {% set width = 'col-span-1 sm:col-span-2' %}
          {% elseif loop.index == 4 %}
            {% set height = 'row-span-1 sm:row-span-2' %}
          {% else %}
            {% set ratio = '1' %}
          {% endif %}

          {% if item.acf_fc_layout == 'Image' %}
            <div class="{{ width }} {{ height }} bg-cover bg-no-repeat bg-center" style="padding-bottom: 50%; background-image: url({{ item.image.url }});">
            </div>
          {% elseif item.acf_fc_layout == 'Icon' %}
            <div class="{{ width }} {{ height }} bg-pop-{{ item.icon }}">
              icon
            </div>
          {% elseif item.acf_fc_layout == 'Link' %}
            <div class="{{ width }} {{ height }} bg-pop-white flex flex-col justify-between">
              <h4 class="p-6 m-0">{{ item.text }}</h4>
              <div class="self-end">
                {% include "/templates/partial/link.twig" with 
                  {
                    'link': item.link,
                  }
                %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}