{% if is_preview %}
  <p><strong>Portfolio</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-wide" >
    <div class="{{ theme_bg_color }} md:box-content">
      {% if fields.show_title %}
      {% include "/templates/partial/component-title.twig" with
        {
          'title': fields.title,
          'subtitle': fields.subtitle,
          'theme_text_color': theme_text_color,
          'title_color': fields.title_color,
          'pattern': fields.pattern.type,
          'pattern_color': fields.pattern.color,
          'pattern_opacity': fields.pattern.opacity
        }
      %}
      {% endif %}
      <div class="portfolio grid gap-0.5 grid-cols-1 sm:grid-cols-2 relative border {{ theme_border_color }} {{ theme_bg_color }}">
        {% for item in fields.case_studies %}
          {% set width = 'col-span-1' %}
          {% set height = 'row-span-1' %}

          {% if loop.index == 3 %}
            {% set width = 'col-span-1 sm:col-span-2' %}
          {% elseif loop.index == 4 %}
            {% set height = 'row-span-1 sm:row-span-2' %}
          {% endif %}

          {% set case_study = TimberPost(item.case_study.ID) %}
          {% set link = case_study.guid %}

          <div class="portfolio__item image-container relative">
            <div class="link-card absolute top-0 left-0 flex flex-col h-full w-full">
              <a class="h-full relative block" href="{{ link }}">
                <div class="group bg-pop-white flex flex-col justify-between h-full">
                  <div class="absolute top-0 left-0 w-full h-full hover:opacity-100 transition-opacity overflow-hidden">
                    <img class="w-full h-full object-cover origin-center transform group-hover:scale-110 transition-transform duration-500" src="{{ case_study.thumbnail.src }}" alt="{{ case_study.thumbnail.alt }}">
                    <div class="absolute top-0 left-0 h-full w-full bg-pop-black opacity-40 group-hover:opacity-0 transition-opacity duration-500"></div>
                  </div>

                    <div class="text-xl leading-tight group-hover:opacity-0 transition-opacity duration-500 p-6 m-0 text-pop-white {{ loop.index == 3 ? 'sm:w-1/2' : 'w-full'}}" style="text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.4);">
                      {# {{ case_study.post_title }}. {{ case_study.terms('category') | first}}. {{case_study.preview.length(15).read_more('')}} #}
                      {# {{ case_study.terms('client') | first}}. {{ case_study.terms('category') | first }}. {{ case_study.post_title }}. #}
                      {{ function('case_study_title', case_study.post_title, case_study.terms('client') | first, case_study.terms('category') | first) }}
                    </div>

                    <div class="self-end border-t border-l border-black border-opacity-40">
                      {% include "/templates/partial/arrow.twig" with
                        {
                          'arrow': fields.arrow,
                        }
                      %}
                    </div>
                  </div>
                </a>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
