{% if is_preview %}
  <p><strong>Problems List</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
  <div class="container-wide {{ fields.show_bg ? theme_bg_color ~ ' sm:shadow-md' : '' }}">
    <div class="relative">

      <!-- {% set currentPath = app.request.attributes.get('_route') %} -->

      <div class="z-10 absolute bottom-0 right-0 sm:bottom-auto sm:top-0 sm:left-0 sm:transform sm:-translate-y-full">
        {% include "/templates/partial/link.twig" with 
          {
            'link': fields.link,
          }
        %}
      </div>
      {% include "/templates/partial/component-title.twig" with 
        {
          'title': fields.title,
          'subtitle': fields.subtitle,
          'theme_text_color': theme_text_color,
          'title_color': fields.title_color,
          'pattern': fields.pattern.type,
          'pattern_color': fields.pattern.color,
          'pattern_opacity': fields.pattern.opacity
        }
      %}
    </div>
    <div class="problems-list relative {{ fields.show_bg ? theme_bg_color : '' }}">
      {% for item in fields.problems %}
        <a class="relative" href="{{ item.url }}" >
          <div class="problems-list__item relative flex flex-col sm:flex-row sm:justify-between items-start sm:items-center mt-6 sm:mt-0 border-pop-{{ fields.accent_color}} {{ loop.last ? '' : 'sm:border-b-1' }} ">
            <div class="problems-list__item-bg absolute w-full h-full bg-pop-{{ fields.accent_color }}"></div>
            <p class="hidden sm:block px-6 {{ theme_text_color }}">0{{ loop.index }}</p>
            <p class="block sm:hidden absolute -top-11 left-8 opacity-30 text-6xl text-pop-{{ fields.accent_color }} p-0 m-0">0{{ loop.index }}</p>

            <div class="p-6 pl-12 sm:p-6 sm:py-8 m-0 text-xl font-medium {{ theme_text_color }}">
              {{ item.text }}
            </div>
            <div class="hidden sm:block px-6">
              <svg width="53" height="54" viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.353553" y1="0.646447" x2="52.3536" y2="52.6464" stroke="white"/>
                <line x1="52.5" y1="1" x2="52.5" y2="53" stroke="white"/>
                <line x1="52" y1="53.5" x2="6" y2="53.5" stroke="white"/>
              </svg>          
            </div>
          </div>
        </a>
      {% endfor %}
    </div>   
  </div>
{% endif %}