{% if is_preview %}
  <p><strong>ROI Block</strong> - I will only appear in the editor.</p>
{% endif %}

{% if not is_preview %}
<div class="container-wide">

  <div class="{{ theme_bg_color }} md:shadow-md md:box-content">
    {% if fields.show_title %}
      {% include "/templates/partial/component-title.twig" with 
        {
          'title': fields.title,
          'subtitle': fields.subtitle,
          'theme_text_color': theme_text_color,
          'title_color': fields.title_color,
          'pattern': fields.pattern.type,
          'pattern_color': fields.pattern.color,
          'pattern_opacity': fields.pattern.opacity
        }
      %}
    {% endif %}
    <div class="flex flex-wrap items-stretch md:flex-nowrap">
      <div class="flex items-center text-block p-5 sm:p-12 w-full sm:w-1/2 bg-pop-{{ fields.accent_background_color }} {{ theme_text_color }}">
        {{ fields.column_1 }}
      </div>
      <div class="text-block p-5 sm:p-12 w-full sm:w-1/2 {{ theme_text_color }}">
        {{ fields.column_2 }}
      </div>
    </div>

  </div>

</div>
{% endif %}