{% extends "base.twig" %}

{% block content %}
<div class="relative content-wrapper">
	<div class="relative flex flex-column items-end pt-48 pb-16">

    <div
      class="absolute top-0 left-0 w-full h-full bg-center bg-cover no-repeat"
      style="background-image: url({{ theme.link }}/static/images/blogs-bg.png);"
    ></div>

		<div class="container-banner flex flex-col justify-between z-10 h-3/4 sm:h-1/2">
			<div>
				<div class="input-box relative w-full bg-white">
					<div class="pt-4 px-6">
						<form
              class="w-full border-b border-pop-purple border-opacity-50 flex mb-1"
              method="get"
              role="search"
              action="{{ site.url }}"
            >
							<input
                class="h3 text-3xl text-pop-purple w-11/12 py-2"
                type="text"
                placeholder="Find Ideas"
                name="s"
              >
							<input type="hidden" name="post_type" value="post">
							<input class="bg-transparent text-pop-purple w-1/12" type="submit" value="&rarr;">
						</form>
            <div class="text-pop-purple text-sm text-right">
              click or hit enter
            </div>
					</div>
					<div class="flex flex-wrap p-4">
						{% for cat in categories %}
							<a
                href="{{ site.url }}/{{ cat.taxonomy }}/{{ cat.slug }}/"
                class="m-1 py-2 px-4 rounded-3xl bg-pop-pink text-white whitespace-nowrap"
              >
                {{ cat.name }}
              </a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-narrow mb-20">

		<h3 class="my-8">
      {% if title %}
        {{ title }}
      {% else  %}
        Blog Posts
      {% endif %}
    </h3>
		{% for post in posts %}
			<div class="mb-8">
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
	</div>
</div>

	<!-- Pagination -->
	<!-- {% include 'partial/pagination.twig' %} -->
{% endblock %}
