{% extends "base.twig" %}

{% block content %}
<div class="relative content-wrapper">
	<div class="relative overflow-hidden flex flex-column items-end" style="height: 50vh;">
		<div class="absolute top-0 left-0 w-full h-full bg-center bg-cover no-repeat " style="background-image: url({{ theme.link }}/static/images/blogs-bg.png);">
		</div>
		
		<div class="container-banner flex flex-col justify-between z-10 h-3/4 sm:h-1/2">
			<div>
				<div class="input-box relative w-full bg-pop-white">
					<div>
						<form class="mb-2 w-full" method="get" role="search" action="{{ site.url }}">
							<input class="h3 text-2xl text-pop-purple underline w-full" type="text" placeholder="Find Ideas" name="s">
							<input type="hidden" name="post_type" value="post">
							<input class="bg-transparent text-pop-white text-sm my-0" type="submit" value="Search">
						</form>
					</div>
					<div class="flex flex-wrap w-1/2">
						{% for cat in categories %}
							<form class="mb-2 mr-2 py-2 px-4 rounded-3xl bg-pop-pink" method="get" role="search" action="{{ site.url }}">
								<input class="hidden" type="text" placeholder="Enter Keywords..." name="s" value="{{ cat.name }}">
								<input type="hidden" name="post_type" value="post">
								<input class="bg-transparent text-pop-white text-sm my-0" type="submit" value="{{ cat.name }}">
							</form>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-narrow mb-20">
		<h3 class="my-8">Recent Blogs</h3>
		{% for post in posts %}
			<div class="mb-8">
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
	</div>
</div>
	
	<!-- Pagination -->
	<!-- {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %} -->
{% endblock %}
