
<!-- Main Nav Headings -->

<div class="flex h-full items-center">

	{% for item in items %}
		{% if item.children %}

    <div
      class="nav-parent group hidden h-full md:flex items-center px-6 {{ invert == 1 ? 'text-pop-pink hover:text-pop-mid-gray' : 'text-pop-white hover:text-pop-pink' }} hover:bg-pop-black" style="cursor: default;"
    >
      <span class="contrast-el">
        {{ item.title }}
      </span>
      <div class="nav-child absolute top-full left-0 flex-col w-max group-hover:bg-pop-black py-2">
        {% for child in item.children %}
          <a
            class="text-pop-white hover:text-pop-pink px-6 cursor-pointer"
            target="{{ child.target }}"
            href="{{ child.link }}"
          >
            {{ child.title }}
          </a>
        {% endfor %}
      </div>
    </div>

    {% else %}

    <div class="nav-parent group hidden h-full md:flex items-center cursor-pointer">
      <a
        class="{{ invert == 1 ? 'text-pop-pink hover:text-pop-mid-gray' : 'text-pop-white hover:text-pop-pink' }} px-6"
        target="{{ item.target }}"
        href="{{ item.link }}"
      >
        <span class="contrast-el">{{ item.title }}</span>
      </a>
    </div>

    {% endif %}
	{% endfor %}

</div>

<!-- Children Pages -->

<transition @enter="enterMenu" @leave="leaveMenu" mode="out-in">
	<div
    ref="menuContainer"
    v-show="menuActive"
    class="fixed bg-pop-black h-screen w-screen top-0 left-0 opacity-0 pointer-events-none"
  >
		<div class="px-12 md:px-32 box-border max-w-5xl w-full h-screen lg:mx-auto">
			<div class="h-full w-full">
				<div class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-24 w-full">
					<transition name="fade">
						<div
              v-if="activeChild !== 'main'"
              class="absolute -top-8 left-0 group text-pop-white cursor-pointer flex items-center"
              @click="changeSubMenu('main')"
            >
							<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fill-current text-pop-white group-hover:text-pop-pink transition-colors" d="M14.5 16C14.5 15.1716 15.1716 14.5 16 14.5L29.5 14.5C30.3284 14.5 31 15.1716 31 16C31 16.8284 30.3284 17.5 29.5 17.5H17.5V29.5C17.5 30.3284 16.8284 31 16 31C15.1716 31 14.5 30.3284 14.5 29.5L14.5 16ZM30.9393 33.0607L14.9393 17.0607L17.0607 14.9393L33.0607 30.9393L30.9393 33.0607Z"/>
							</svg>
							<div class="hidden md:block ">
								Main menu
							</div>
						</div>
					</transition>
					<transition-group name="nav" tag="div" mode="out-in" >
						<div
              v-show="activeChild === 'main'"
              class="sub-item-container absolute top-12 left-0"
              :key="'{{ item.title }}'"
            >
							{% for item in items %}
							<div class="sub-item mb-3 w-max mr-12 relative">
								{% if item.children %}
								<div class="absolute h-56 w-56 top-1/2 transform -translate-y-1/2 right-0 translate-x-1/2 opacity-0 pointer-events-none">
									<svg viewBox="0 0 350 350">
										<filter id="distortionFilter{{ item.ID }}">
											<feTurbulence type="fractalNoise" baseFrequency="0.01 0.003" numOctaves="5" seed="2" stitchTiles="noStitch" x="0%" y="0%" width="100%" height="100%" result="noise"/>
											<feDisplacementMap in="SourceGraphic" in2="noise" scale="1000" xChannelSelector="R" yChannelSelector="B" x="0%" y="0%" width="100%" height="100%" filterUnits="userSpaceOnUse"/>
										</filter>
										<g filter="url(#distortionFilter{{ item.ID }})">
											<image class="" x="10%" y="10%" xlink:href="{{ item.master_object.thumbnail }}" width="80%" height="80%" preserveAspectRatio="xMidYMid slice"/>
										</g>
									</svg>
								</div>
								<a
                  @click="changeSubMenu('{{ item.title }}')"
                  class="text-2xl md:text-5xl leading-tight text-pop-white font-bold"
                  target="{{ item.target }}"
                  href="{{ item.link }}"
                >
                  {{ item.title }}
                </a>
								<div class="absolute bottom-0 left-0 h-1 bg-pop-pink"></div>
								{% else %}
								<div class="absolute h-56 w-56 top-1/2 transform -translate-y-1/2 right-0 translate-x-1/2 opacity-0 pointer-events-none"></div>
								<a
                  class="text-2xl md:text-5xl leading-tight text-pop-white font-bold"
                  target="{{ item.target }}"
                  href="{{ item.link }}"
                >
                  {{ item.title }}
                </a>
								<div class="absolute bottom-0 left-0 h-1 bg-pop-pink"></div>
								{% endif %}
							</div>
							{% endfor %}
						</div>
						{% for item in items %}
						{% if item.children %}
						<div
              v-show="activeChild === '{{ item.title }}'"
              class="sub-item-container max-w-full absolute top-12 left-0"
              :key="'{{ item.title }}'"
            >
							{% for child in item.children %}
							<div class="sub-item mb-3 w-max mr-12 relative max-w-full">

								<div class="absolute h-56 w-56 top-1/2 transform -translate-y-1/2 right-0 translate-x-1/2 opacity-0 pointer-events-none"></div>

								<a
                  class="text-2xl md:text-5xl leading-tight text-pop-white font-bold"
                  target="{{ child.target }}"
                  href="{{ child.link }}"
                >
                  {{ child.title }}
                </a>
								<div class="absolute bottom-0 left-0 h-1 bg-pop-pink"></div>
							</div>
							{% endfor %}
						</div>
						{% endif %}
						{% endfor %}
					</transition-group>
				</div>
				<div class="absolute bottom-10 left-0 transform md:translate-x-6 flex">
					<a
            class="text-base md:text-2xl leading-tight text-pop-white"
            target="_blank"
            href="https://www.linkedin.com"
          >
						<svg class="inline-block w-6 mr-3 hover:opacity-50 transform scale-125" width="30" height="30" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fill-current {{color}}" fill-rule="evenodd" clip-rule="evenodd" d="M30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0ZM14.402 24.8473H21.2007V45.2745H14.402V24.8473ZM21.6485 18.5284C21.6043 16.5255 20.1721 15 17.8463 15C15.5205 15 14 16.5255 14 18.5284C14 20.4898 15.4756 22.0592 17.758 22.0592H17.8015C20.1721 22.0592 21.6485 20.4898 21.6485 18.5284ZM37.8914 24.3676C42.3652 24.3676 45.7192 27.2878 45.7192 33.5622L45.719 45.2745H38.9206V34.3459C38.9206 31.6009 37.9368 29.7278 35.4756 29.7278C33.5974 29.7278 32.4786 30.9905 31.9872 32.2102C31.8075 32.6473 31.7633 33.2563 31.7633 33.8668V45.275H24.9639C24.9639 45.275 25.0535 26.7646 24.9639 24.8479H31.7633V27.7412C32.6657 26.3503 34.2818 24.3676 37.8914 24.3676Z" />
						</svg>
					</a>
					<a
            class="text-base ml-4 md:text-2xl leading-tight text-pop-white"
            target="_blank"
            href="https://www.youtube.com"
          >
						<svg class="inline-block w-6 mr-3 hover:opacity-50 transform scale-125" width="30" height="30"  viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fill-current {{color}}" fill-rule="evenodd" clip-rule="evenodd" d="M30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0ZM42.502 19.6867C43.8789 20.0645 44.9633 21.1778 45.3313 22.5915C46 25.1538 46 30.5 46 30.5C46 30.5 46 35.846 45.3313 38.4085C44.9633 39.8222 43.8789 40.9355 42.502 41.3135C40.0067 42 30 42 30 42C30 42 19.9933 42 17.4978 41.3135C16.1209 40.9355 15.0365 39.8222 14.6685 38.4085C14 35.846 14 30.5 14 30.5C14 30.5 14 25.1538 14.6685 22.5915C15.0365 21.1778 16.1209 20.0645 17.4978 19.6867C19.9933 19 30 19 30 19C30 19 40.0067 19 42.502 19.6867Z" />
							<path class="fill-current {{color}}" fill-rule="evenodd" clip-rule="evenodd" d="M27 36V26L35 31.0002L27 36Z" />
						</svg>
					</a>
					<a
            class="text-base ml-4 md:text-2xl leading-tight text-pop-white"
            target="_blank"
            href="https://www.instagram.com"
          >
						<svg class="inline-block w-6 mr-3 hover:opacity-50 transform scale-125" width="30" height="30" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fill-current {{color}}" fill-rule="evenodd" clip-rule="evenodd" d="M30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0ZM23.4041 14.0967C25.1108 14.019 25.6561 14 30.0015 14H29.9965C34.3432 14 34.8866 14.019 36.5932 14.0967C38.2966 14.1747 39.4599 14.4443 40.4799 14.84C41.5333 15.2483 42.4233 15.795 43.3133 16.685C44.2033 17.5744 44.75 18.467 45.16 19.5194C45.5533 20.5367 45.8233 21.6994 45.9033 23.4028C45.98 25.1094 46 25.6548 46 30.0002C46 34.3455 45.98 34.8895 45.9033 36.5962C45.8233 38.2989 45.5533 39.4619 45.16 40.4796C44.75 41.5316 44.2033 42.4243 43.3133 43.3136C42.4243 44.2036 41.533 44.7517 40.4809 45.1603C39.4629 45.556 38.2989 45.8257 36.5956 45.9037C34.8889 45.9813 34.3452 46.0003 29.9995 46.0003C25.6545 46.0003 25.1094 45.9813 23.4028 45.9037C21.6997 45.8257 20.5367 45.556 19.5187 45.1603C18.467 44.7517 17.5744 44.2036 16.6854 43.3136C15.7957 42.4243 15.249 41.5316 14.84 40.4793C14.4447 39.4619 14.175 38.2993 14.0967 36.5959C14.0193 34.8892 14 34.3455 14 30.0002C14 25.6548 14.02 25.1091 14.0963 23.4024C14.173 21.6997 14.443 20.5367 14.8397 19.5191C15.2497 18.467 15.7964 17.5744 16.6864 16.685C17.5757 15.7954 18.4684 15.2487 19.5207 14.84C20.5381 14.4443 21.7007 14.1747 23.4041 14.0967Z" />
							<path class="fill-current {{color}}" fill-rule="evenodd" clip-rule="evenodd" d="M28.5662 16.8834C28.8449 16.883 29.1447 16.8831 29.4683 16.8832L30.0016 16.8834C34.2736 16.8834 34.78 16.8987 36.467 16.9754C38.027 17.0467 38.8737 17.3074 39.4377 17.5264C40.1843 17.8164 40.7167 18.1631 41.2764 18.7231C41.8364 19.2831 42.183 19.8164 42.4737 20.5631C42.6927 21.1264 42.9537 21.9731 43.0247 23.5331C43.1014 25.2198 43.118 25.7265 43.118 29.9965C43.118 34.2666 43.1014 34.7732 43.0247 36.4599C42.9534 38.0199 42.6927 38.8666 42.4737 39.43C42.1837 40.1766 41.8364 40.7083 41.2764 41.268C40.7163 41.828 40.1847 42.1747 39.4377 42.4647C38.8743 42.6847 38.027 42.9447 36.467 43.016C34.7803 43.0927 34.2736 43.1093 30.0016 43.1093C25.7292 43.1093 25.2229 43.0927 23.5362 43.016C21.9762 42.944 21.1295 42.6833 20.5651 42.4643C19.8185 42.1743 19.2851 41.8277 18.7251 41.2676C18.1651 40.7076 17.8184 40.1756 17.5278 39.4286C17.3088 38.8653 17.0478 38.0186 16.9768 36.4586C16.9001 34.7719 16.8848 34.2652 16.8848 29.9925C16.8848 25.7198 16.9001 25.2158 16.9768 23.5291C17.0481 21.9691 17.3088 21.1224 17.5278 20.5584C17.8178 19.8118 18.1651 19.2784 18.7251 18.7184C19.2851 18.1584 19.8185 17.8117 20.5651 17.5211C21.1291 17.3011 21.9762 17.0411 23.5362 16.9694C25.0122 16.9027 25.5842 16.8827 28.5662 16.8794V16.8834ZM38.5423 19.5401C37.4823 19.5401 36.6223 20.3991 36.6223 21.4594C36.6223 22.5195 37.4823 23.3795 38.5423 23.3795C39.6023 23.3795 40.4623 22.5195 40.4623 21.4594C40.4623 20.3994 39.6023 19.5394 38.5423 19.5394V19.5401ZM21.7848 30.0002C21.7848 25.4625 25.4639 21.7834 30.0016 21.7834H30.0012C34.5389 21.7834 38.217 25.4625 38.217 30.0002C38.217 34.5379 34.5393 38.2153 30.0016 38.2153C25.4639 38.2153 21.7848 34.5379 21.7848 30.0002Z" />
							<path class="fill-current {{color}}" fill-rule="evenodd" clip-rule="evenodd" d="M30.0016 24.6667C32.947 24.6667 35.335 27.0544 35.335 30.0001C35.335 32.9455 32.947 35.3335 30.0016 35.3335C27.0559 35.3335 24.6682 32.9455 24.6682 30.0001C24.6682 27.0544 27.0559 24.6667 30.0016 24.6667V24.6667Z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</transition>
