{% extends "base.twig" %}

{% block content %}
  {% if post.thumbnail.src %}
  <div
    class="aspect-w-16 aspect-h-9 bg-cover bg-pop-green"
    style="background-image: url({{ post.thumbnail.src }})"
  ></div>
  {% else %}
  <div
    class="aspect-w-16 aspect-h-9 bg-cover bg-pop-green"
  ></div>
  {% endif %}
	<div class="relative content-wrapper">
		{# {% include "/templates/partial/post-hero.twig" with { 'fields': hero } %} #}

    <div class="relative container-narrow -mt-48 bg-white">

      {% for path in icons %}
        <img
          src="{{ path }}"
          class="inline-block w-12"
        />
      {% endfor %}

      <div class="p-16">
        <h1 class="font-medium text-5xl">
          {{ post.title }}
        </h1>
      </div>
      <div class="px-16 flex items-center justify-between">
          {% include "/templates/partial/single-author.twig" %}
          {% include "/templates/partial/single-share.twig" %}
        </div>
      </div>
    </div>

		<article
      id="post-{{ post.ID }}"
      class="pop-container  post-type-{{ post.post_type }}"
    >
			<div class="relative py-12" >
				<div id="content" class="article-body pop-container my-12">
					<div class="container-narrow text-pop-{{ content.theme == 'black' ? 'white' : 'black' }}">
						{{ post.content }}
					</div>
          {% include "/templates/partial/related.twig" %}
				</div>
			</div>
		</article>
	</div>
{% endblock %}
