{% extends "base.twig" %}

{% block content %}
  <div
    class="aspect-w-16 aspect-h-9 bg-cover"
    style="background-image: url({{ post.thumbnail.src }})"
  ></div>
	<div class="relative content-wrapper">
		{# {% include "/templates/partial/post-hero.twig" with { 'fields': hero } %} #}

    <div class="relative container-narrow -mt-48 bg-pop-{{ content.theme }}">
      <img
        src="{{ theme.link }}/static/icons/pop/original/01.svg"
        class="inline-block w-12"
      />
      <img
        src="{{ theme.link }}/static/icons/pop/original/02.svg"
        class="inline-block w-12"
      />

      <div class="p-16">
        <h1 class="font-medium text-5xl">
          {{ post.title }}
        </h1>
      </div>
      <div class="px-16 flex justify-between">
        <div>
          <div
          class="inline-block align-middle w-8 h-8 rounded-full bg-cover mr-4"
          style="background-image: url({{ Image(post.author.meta('avatar')).src }})"
          ></div>
          <div class="inline-block align-middle text-pop-pink mr-8">
            {{ post.author.display_name }}
          </div>
          <div class="inline-block align-middle text-pop-purple">
            {{ post.date }}
          </div>
        </div>
        <div class="flex items-center">
          <a href="https://www.linkedin.com/company/popcomms" title="Share on LinkedIn" class="inline-block align-middle">
            <img
              src="{{ theme.link }}/static/icons/linkedin-brands.svg"
              alt="Showpad"
              class="inline-block w-6 mr-2"
            >
          </a>
          <a href="https://www.youtube.com/user/popcomms" title="Share on Twitter" class="inline-block align-middle">
            <img
              src="{{ theme.link }}/static/icons/twitter-square-brands.svg"
              alt="Showpad"
              class="inline-block w-6 mr-2"
            >
          </a>
          <a href="https://www.instagram.com/wearepopcomms/" title="Share on Facebook" class="inline-block align-middle">
            <img
              src="{{ theme.link }}/static/icons/facebook-square-brands.svg"
              alt="Showpad"
              class="inline-block w-6"
            >
          </a>
        </div>
      </div>
    </div>

		<article
      id="post-{{ post.ID }}"
      class="pop-container  post-type-{{ post.post_type }}"
    >
			<div class="relative py-12" >
				<div id="content" class="article-body pop-container my-12">
					<div class="container-narrow text-pop-{{ content.theme == 'black' ? 'white' : 'black' }}">
						{{ post.content }}
					</div>
          {% include "/templates/partial/related.twig" %}
				</div>
			</div>
		</article>
	</div>
{% endblock %}
