{% extends "tease.twig" %}

{% block content %}
<a href="{{post.link}}">
	<div class="grid grid-cols-2 grid-rows-1 shadow-lg">
		{% if post.thumbnail.src != '' %}
		<div class="relative row-span-1" style="padding-bottom: 100%;">
			<img class="absolute top-0 left-0 min-w-full min-h-full  object-cover" src="{{post.thumbnail.src}}" />
		</div>
	{% endif %}
	{% if post.thumbnail.src == null %}
	<div class="relative row-span-1 bg-pop-pink" style="padding-bottom: 100%;">
		<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">placeholder</div>
	</div>
	{% endif %}
		<div class="relative flex flex-col items-start justify-center p-7">
			<div class="flex items-center space-x-4 mb-4">
				<div class="rounded-full w-8 h-8 bg-pop-mid-gray"></div>
				<a href="#" class="text-pop-pink text-base underline">{{ post.author.display_name }}</a>
				<p class="text-pop-purple text-base">{{ post.date }}</p>
			</div>
			<h5 class="leading-9">{{ post.title }}</h5>
			<div class="absolute bottom-0 right-0 ">
				{% include "/templates/partial/link.twig" with
					{
						'link': {
							url: post.uid,
							text: 'Read',
							background_color: 'black',
							accent_color: 'yellow',
							arrow_color: 'blue',
							angle: 45
						},
					}
				%}
			</div>
		</div>
	</div>
</a>
{% endblock %}
