{% extends "tease.twig" %}

{% block content %}
<a class="block" href="{{ post.link }}">
	<div class="grid grid-cols-1 sm:grid-cols-2 grid-rows-2 sm:grid-rows-1 border border-gray-200 shadow-md transition-opacity">
		<div class="aspect-w-4 aspect-h-3 md:aspect-w-1 md:aspect-h-1">
      {% if post.thumbnail.src %}
			<img
        class="object-cover"
        src="{{ post.thumbnail.src }}"
        style="font-size: 0"
      />
      {% else %}
      <img
        class="object-cover"
        src="{{ theme.link }}/static/images/blogs-bg.png"
        style="font-size: 0"
      />
      {% endif %}
		</div>
		<div class="relative flex flex-col items-start sm:justify-center p-6 pb-20">
      <div class="my-2 text-pop-purple text-sm">
        {{ post.date }}
      </div>
      <br>
      <h2 class="text-xl font-medium leading-tight">
        {{ post.title }}
      </h2>
      <br>
      {% include "/templates/partial/archive-author.twig" %}
			<div class="absolute bottom-0 right-0">
				{% include "/templates/partial/link.twig" with
					{
						'link': {
							url: post.uid,
							text: 'Read',
							background_color: 'black',
							accent_color: 'yellow',
							arrow_color: 'blue',
							angle: 45
						},
					}
				%}
			</div>
		</div>
	</div>
</a>
{% endblock %}
