<div class="my-20 container-narrow text-pop-{{ content.theme == 'black' ? 'white' : 'black' }}">
  <div class="w-1/3">
    {{ post.author.avatar_override }}
  </div>
  <div class="w-2/3 flex flex-col">
    <h6 class="mb-2">
      {{ post.author.display_name }}
    </h6>
    <a href="tel:+441173291712">
      +44 (0)117 329 1712
    </a>
    <a class="text-pop-pink" href="mailto:{{ post.author.user_email }}">
      {{ post.author.user_email }}
    </a>
  </div>
</div>
