<div class="w-full">
  <div class="my-20 container-narrow block-container text-pop-{{ content.theme == 'black' ? 'white' : 'black' }}">
    <div class="flex items-center justify-start space-x-4">
      <div
        class="w-32 h-32 rounded-full bg-cover border border-gray-200 mr-2"
        style="background-image: url({{ Image(post.author.meta('avatar')).src }})"
      ></div>
      <div class="text-base">
        <div class="text-xl font-semibold">
          {{ post.author.display_name }}
        </div>
        <div class="text-sm mb-4 text-gray-500">
          {{ post.author.meta('job_title') }}
        </div>
        <div class="text-sm mb-1">
          <a class="text-pop-pink" href="mailto:{{ post.author.user_email }}">
            {{ post.author.user_email }}
          </a>
        </div>
        <div class="text-sm">
          <a href="tel:+441173291712">
            +44 (0)117 329 1712
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
