{% if posts.pagination.pages is not empty %}
  <div class="container-narrow">
    <nav class="flex justify-between border-t border-gray-200 text-base">
      <div>
        {% if posts.pagination.prev %}
          <a href="{{ posts.pagination.prev.link }}" class="inline-block py-4 transform hover:scale-110 transition-all hover:text-pop-blue">&#10094;&nbsp;Previous</a>
        {% else %}
          <span class="inline-block py-4 text-gray-400">&#10094;&nbsp;Previous</span>
        {% endif %}
      </div>
      <div>
        {% for page in posts.pagination.pages %}
          {% if page.link %}
            <a class="inline-block p-4 transform hover:scale-125 transition-all hover:text-pop-blue {{ page.class }}" href="{{ page.link }}">{{ page.title }}</a>
          {% else %}
            <span class="inline-block p-4 text-pop-pink border-t border-pop-pink {{ page.class }}">
              {{ page.title }}
            </span>
          {% endif %}
        {% endfor %}
      </div>
      <div>
        {% if posts.pagination.next %}
          <a href="{{ posts.pagination.next.link }}" class="inline-block py-4 transform hover:scale-110 transition-all hover:text-pop-blue">Next&nbsp;&#10095;</a>
        {% else %}
          <span class="inline-block py-4 text-gray-400">Next&nbsp;&#10095;</span>
        {% endif %}
      </div>
    </nav>
  </div>
{% endif %}
