  <div class="page-hero relative flex flex-col justify-end" style="height: 66vh;">
    <div
      class="absolute top-0 left-0 w-full h-full bg-center bg-cover no-repeat"
      style="background-image: url({{ theme.link }}/static/images/blogs-bg.png);"
    ></div>
    <div
      class="absolute top-0 left-0 w-full h-full bg-pop-black bg-opacity-20"
    ></div>
    <div class="container-banner w-full relative h-full flex flex-col justify-end pb-8  px-8 md:px-0">
        <div class="hero-title sm:text-5xl text-pop-white font-black w-5/6">
        	{% if post.title %}
            {{ post.title }}
          {% else %}
            <div class="text-sm uppercase mb-1 tracking-wider font-semibold">Search results for:</div>
            <div class="leading-none">{{title}}</div>
          {% endif %}
        </div>
        {% if post.post_excerpt %}
          <p class="text-pop-white prose mb-0">
            {{post.post_excerpt}}
          </p>
        {% endif %}
    </div>
    {# Toolbar #}
    <div class="relative search-nav w-full overflow-visible bg-opacity-40 bg-pop-black text-pop-white">
      <div class="container-banner w-full box-border relative mx-auto px-0">
        <div class="search-nav-items flex justify-around font-bold text-sm">
          <a
            class="flex-1 text-center py-6 cursor-pointer hover:text-pop-green font-bold"
            href="{{ site.url }}/built-environment/"
          >
            Video
          </a>
          <a
            class="flex-1 text-center hidden sm:block py-6 cursor-pointer hover:text-pop-green font-bold"
            href="{{ site.url }}/category/advanced-manufacturing/"
            
          >
            Industry Insights
          </a>
          <div
            class="flex-1 group hover:bg-pop-black py-6 cursor-pointer hover:text-pop-green relative font-bold box-border"
          >
            <div class="flex items-center justify-center ">
              Categories
              <svg
                class="h-3 w-3 ml-1"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                viewBox="0 0 320 512"
              >
                <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/>
              </svg>
              
            </div>
            <div class="absolute hidden group-hover:block top-5/6 left-1/2 sm:left-0 transform -translate-x-1/2 sm:transform-none bg-pop-black px-3 py-3 z-50">
              <div class="max-h-80 max-w-min sm:max-w-max overflow-y-auto turbine-info pr-2">
                {% for category in categories %}
                  {% if category.term_id != function('get_cat_ID', 'Industries') and category.parent != function('get_cat_ID', 'Industries') %}
                  <a
                    href="{{ site.url }}/{{ category.taxonomy }}/{{ category.slug }}/"
                    class="block text-sm font-normal w-max py-2 text-white hover:text-pop-green cursor-pointer transition-colors"
                  >
                    {{ category.name }}
                  </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="flex-1 text-center hidden hover:bg-pop-black sm:block group py-6 cursor-pointer hover:text-pop-green relative font-bold box-border"
          >
            <div class="flex items-center justify-center">
              Industries
              <svg
                class="h-3 w-3 ml-1"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                viewBox="0 0 320 512"
              >
                <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/>
              </svg>
              
            </div>
            <div class="absolute hidden group-hover:block top-5/6 left-0 bg-pop-black px-3 py-3 z-50">
              <div class="max-h-80 overflow-y-auto turbine-info pr-2">
                {% for category in categories %}
                  {% if category.parent == function('get_cat_ID', 'Industries') %}
                  <a
                    href="{{ site.url }}/{{ category.taxonomy }}/{{ category.slug }}/"
                    class="block text-sm font-normal w-max py-1 text-white hover:text-pop-green cursor-pointer transition-colors"
                  >
                    {{ category.name }}
                  </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {# <a
            class="hidden sm:block py-6 cursor-pointer hover:text-pop-green font-bold"
            href="{{ site.url }}/built-environment/"
          >
            Industries
          </a> #}
          <div class="flex-1 relative py-6 cursor-pointer hover:text-pop-green font-bold">
            <div class="search-bar-button flex items-center justify-center">
              <div class="mr-1">Search</div>
              <svg class="stroke-current text-pop-white" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.2941 21L13.7815 15M15.619 10C15.619 13.866 12.7396 17 9.1877 17C5.63576 17 2.75635 13.866 2.75635 10C2.75635 6.13401 5.63576 3 9.1877 3C12.7396 3 15.619 6.13401 15.619 10Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="search-bar-container container-wide absolute opacity-0 pointer-events-none top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-full flex w-full items-center">
          <div class="hidden sm:block mr-4">Search</div>
          <form
            class="search-bar search-form rounded-full px-4 bg-pop-white flex items-center flex-grow justify-between"
            method="get"
            role="search"
            action="{{ site.url }}"
          >
            <input
              class=" text-pop-black bg-transparent w-11/12 py-2"
              type="text"
              placeholder="What are you looking for?"
              name="s"
              value=""
            >
            <input
              class="bg-transparent text-pop-gray w-7 lg:w-7"
              type="image"
              src="{{ theme.link }}/static/icons/search-magnify.svg"
              alt="Submit"
            >
            <input type="hidden" name="post_type" value="post">
          </form>
          <div class="group h-full px-3 py-3 cursor-pointer search-bar-close ml-4">
            <svg
              class="stroke-current text-pop-white group-hover:text-pop-pink"
              fill="none"
              height="18"
              viewBox="0 0 18 18"
              width="18"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 17L17 1M1 1L17 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>

        </div>
      </div>

    </div>
  </div>